.form-group {
    position: relative;
}

.form-group input,.form-group select {
    width: 100%;
    height: 45px;
    padding: 0 25px 0 15px;
    border-radius: 10px;
    outline: none !important;
    border: solid 1px #707070;
} 
.form-group-search {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 20px;
}

.form-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.form-filter .form-group {
    padding-right: 20px;
    flex: 20%;
}

.btn {
    min-width: 150px;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: #1351AA;
    transition:  all 0.25s ease-in-out;
    color: white;
    box-shadow: 0 3px 6px #aaaaaa;
}
.btn:hover {
    background-color: #0a3b75;
}