.nav {
    display: flex;
    padding: 0 100px;
    align-items: center;
    background: #B9C4DE;
}

.nav-item {
    transition: all 0.25s ease;
    padding: 20px;
    border-bottom: solid 3px transparent;
    cursor: pointer;
}

.nav-item.active {
    font-weight: bold;
    border-bottom: solid 3px #5BADFA;
}

