.status {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  padding: 5px 20px 7px;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  /* box-shadow: 0 3px 6px #aaaaaa; */
}
.status-wrapper .status-outside{
  display: inline-block;
  min-width: 180px;
  text-align: right;
}

.status-wrapper .count {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.status-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}