.summary {
    display: flex;
    flex-wrap: wrap;
}

.summary-left-foot .status-dot{
    margin-right: 20px;
}
.summary-left-foot .status-dot:last-child{
    margin-right: 0;
}
.summary-left-head {
    display: flex;
    margin-bottom: 10px;
}
.summary-left-head img {
    height: 100%;
}
.summary-left-head p {
    margin: 5px 0;
}
.summary-right {
    flex: 70%;
}
.summary-left {
    flex: 30%;
}

.summary-right-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.summary-right-wrapper .summary-right-item{
    flex: 50%;
    margin-bottom: 15px;
}