table {
    border-spacing: 0;
    border: solid 1px #3D4E5D;
}

table tr:nth-child(2n) {
    background: #F3F4F5;
}

th, td {
    text-align: left;
    padding: 10px;
    border-right: solid 1px #3D4E5D;
    border-bottom: solid 1px #3D4E5D;
}
.thead th:last-child, td:last-child {
    border-right: none;
}

table tr:last-child td{
    border-bottom: none;
}

.thead {
    background: #3D4E5D;
    color: white;
}
.thead th {
    position: relative;
    padding: 10px 20px;
    border-right: solid 1px white;
    cursor: pointer;
}

.thead th.active:after {
    position: absolute;
    content: "\25bc";
    font-size: 10px;
    padding-left: 0;
    line-height: 0;
    right: 6px;
    top: 50%;
    transform: translateY(50%);
    transition: all 0.25s ease;
}
.thead th.active.desc:after {
    content: "\25b2";
}

tbody tr {
    transition: all 0.25s ease;
}
tbody.has-link td {
    padding: 0 !important;
    cursor: pointer;
}

tbody.has-link td a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
}

tbody tr:hover {
    background: #D8D8D8;
}

.paging-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paging {
    display: inline-block;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    border: solid 1px #3D4E5D;
    border-radius: 10px;
}

.paging img {
    width: 8px;
}

.paging .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.paging ul li {
    padding: 15px 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.paging ul li:first-child {
    border-radius: 8px 0 0 8px;
}

.paging ul li:last-child {
    border-radius: 0 8px 8px 0;
}

.paging ul li:not(.disabled):hover {
    background: #3D4E5D;
    color: white;
}

.paging li.active {
    font-weight: bold;
    background: #559FF52B;
}

.no-order {
    padding: 20px;
    text-align: center;
    font-size: 24px;
}